@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
body{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 16px;
}
.banner-image{
    background-image: url("../img/3256061.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}
.bg-contact{
    background-image: url("../img/contact-bg.jpg");
    background-size: cover;
}
.menu-session{
    background-image: url("../img/menu-bg.jpg");
    background-size: cover;
}
.news-letter{
    background-image: url("../img/bg5.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color:rgb(234, 241, 241);
}
.footer-sec{
    background-image: url(../img/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.text{
    font-family: 'Bad Script', cursive;
    font-weight: 100;
    z-index: 100;
    /* animation: ani 5s infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate; */
    
}
@media screen and (min-width: 600px){
    .about-session{
        background-image: url("../img/bg1.jpg");
        background-size: cover;
        width: 100vw;
    }
}
@media screen and (max-width: 600px){
    .about-session{
        background-image: url("../img/bg1.jpg");
        width: 100vw;
        
    }
}
.title{
    font-weight: 500;
    color: chocolate;
}
.des{
    font-family: 'Trispace', sans-serif;
}
.title-2{
    font-size: 3em;
}
.shadow-box{
    box-shadow: 5px 5px 5px rgb(228, 191, 81);
}
.pro-img{
    width: 75%; 
    height: 75%;
}
.product-item { 
    top:-50px; 
    left:-35px; 
    display:block; 
    z-index:999; 
    cursor: pointer; 
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.3s; 
    -webkit-transition-timing-function: ease; 
    } 
     
.product-item:hover { 
    transform: scale(1.05); 
    
    }
    /* @keyframes ani{
        0%{transform: scale(1);}
        10%{transform: scale(1.005);}
        20%{transform: scale(1.01);}
        30%{transform: scale(1.015);}
        40%{transform: scale(1.02);}
        50%{transform: scale(1.025);}
        60%{transform: scale(1.03);}
        70%{transform: scale(1.035);}
        80%{transform: scale(1.04);}
        90%{transform: scale(1.045);}
        100%{transform: scale(1.05);}
    } */
    ul{
        border-radius: 10px;
    }
    ul:hover{
        color:chocolate !important ;
    }
    .meet{
        background-image: url("../img/bg7.jpg");
        overflow: hidden;
    }
    a{
        text-decoration: none;
    }
